{% extends "base.html" %}


{% block title %}
    嘎嘎嘎
{% endblock title %}

{% block right %}
    <h1 style="color: whitesmoke">
        嘎嘎嘎嘎
        <small>嘿嘿😋</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Go Home</a></li>
        <li class="active">Dashboard1111</li>
    </ol>
{% endblock right %}


{% block main %}
    {#        <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>#}

    <h1>Data Show</h1>
    <button>点我呀</button>

    {#    <div id="main" style="width: 600px;height:400px;"></div>#}
    <div id="bar" style="width:1000px; height:600px;"></div>

    <script type="text/javascript">
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});

        $("button").click(function () {
            //$.get("{{ url_for('widget.root1') }}", function (data) {

            $('button').hide();
            //  foo();
            //});
            foo();
        });


        function foo() {

            $.ajax({
                type: "GET",
                url: "{{ url_for('widget.get_bar_chart') }}",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }


    </script>
{% endblock main %}

